/*MAIN STYLE*/
.container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .thumbnail #round {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    margin: 0 auto 100px;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
}

.form .thumbnail {
    background: #EF3B3A;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 50px 30px;
    border-radius: 100%;
    box-sizing: border-box;
}

.form .thumbnail img {
    display: block;
    width: 100%;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all;
    transition: all;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #EF3B3A;
    text-decoration: none;
}

.form .register_form {
    display: none;
}

.form input.error {
    border-color: #EF3B3A;
    box-shadow: 0 0 3px #EF3B3A;
}

label.error {
    display: none;
}

/*CHECKBOX STYLE*/
/*
.two-column {
    margin: 0 auto;
    padding: 0px 80px 0px;
}
*/

label {
    color: #707070;
    margin: 0 auto;
}
.styled-input-single {
    position: relative;
    padding: 5px 0px 20px 40px;
    text-align: left;
}

.styled-input-single label {
    cursor: pointer;
}

.styled-input-single label:before, .styled-input-single label:after {
    content: '';
    position: absolute;
    top: 35%;
    border-radius: 50%;
}

.styled-input-single label:before {
    left: 0;
    width: 30px;
    height: 30px;
    margin: -15px 0 0;
    background: #f7f7f7;
    box-shadow: 0 0 1px grey;
}

.styled-input-single label:after {
    left: 5px;
    width: 20px;
    height: 20px;
    margin: -10px 0 0;
    opacity: 0;
    background: #EF3B3A;
    -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
    transform: translate3d(-40px, 0, 0) scale(0.5);
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.styled-input-single input[type="radio"],
.styled-input-single input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;
}

.styled-input-single input[type="radio"]:checked + label:after,
.styled-input-single input[type="checkbox"]:checked + label:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.styled-input--square label:before, .styled-input--square label:after {
    border-radius: 0;
}

.styled-input--rounded label:before {
    border-radius: 10px;
}

.styled-input--rounded label:after {
    border-radius: 6px;
}

.styled-input--diamond .styled-input-single {
    padding-left: 45px;
}

.styled-input--diamond label:before, .styled-input--diamond label:after {
    border-radius: 0;
}

.styled-input--diamond label:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.styled-input--diamond input[type="radio"]:checked + label:after,
.styled-input--diamond input[type="checkbox"]:checked + label:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
}