<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>

<div th:list="${model.users}">
    <h1>Users List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Temp password</th>
        </tr>
        <tr>

        </tr>
    </table>

</div>
<table>
    <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Операции</th>
    </tr>
    <#list model.users as user>
    <tr>
        <td>${user.id}</td>
        <td>${user.username}</td>
        <td><a href="/admin/password/temp/${user.id}">Пароль</a></td>
    </tr>
</
#list>
</table>
</body>