<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: head"></div>
    <title>Authors</title>
    <style>

    </style>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div th:if="${not #lists.isEmpty(model.authorsList)}" class="row">
    <div th:each="author, iterStat : ${model.authorsList}"
         th:class="${iterStat.index % 5 == 0} ? 'col-md-2 col-md-offset-1' : 'col-md-2'">
        <div class="thumbnail">
            <img th:src="@{'/storage/' + ${author.getPhotoPath()}}"/>
            <div class="caption">
                <h3 th:text="${author.name} + ' ' + ${author.lastName.charAt(0)} + '.'">Title</h3>
                <p th:text="${author.dateOfBirth} + ' - ' + ${author.dateOfDeath}"></p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                                                                                   role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>