<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: head"></div>
    <title>Author Test Page</title>
</head>

<body>
<div th:include="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2" style="margin-top: 20px">
            <img th:src="@{'/storage/' + ${model.author.getPhotoPath()}}" class="img-thumbnail center-block" />
        </div>
        <div class="col-md-8">
            <h3 th:text="${model.author.getName() + ' ' + model.author.getLastName()}"></h3>
            <!--<p th:text="${model.author.getD}"></p>-->
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
</body>
</html>