<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: head"></div>
    <title th:text="${model.book.getTitle()} + ' — ' + ${model.book.getBookAuthor().getName()} + ' ' +${model.book.getBookAuthor().getLastName()}"></title>
    <script src="../js/bootstrap-rating-input.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function submitRating() {
            document.getElementById("rate-book").submit();
        }
    </script>
</head>

<body>
<div th:include="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <img th:src="@{'/storage/' + ${model.book.getPhoto()}}" class="img-thumbnail center-block"/>
            <hr/>
            <div class="text-center">
                <div class="btn-group">
                    <a th:href="@{/books/{id}(id=${model.book.getId()}, status='Currently Reading')}"
                       th:name="status" class="btn btn-default">Currently Reading</a>
                    <button type="submit" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span><span>&#8203;</span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/books/{id}(id=${model.book.getId()}, status='Want to Read')}"
                               th:name="status">Want to Read</a></li>
                        <li><a th:href="@{/books/{id}(id=${model.book.getId()}, status='Stopped Reading')}"
                               th:name="status">Stopped Reading</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/books/{id}(id=${model.book.getId()}, status='Finished Reading')}"
                               th:name="status">Finished Reading</a></li>
                    </ul>
                </div>
            </div>
            <hr/>
            <div class="text-center">
                <div th:if="${model.usersBooks} == null">
                    <p>
                        <small>Rate the book</small>
                    </p>
                    <form id="rate-book" th:action="@{'/books/' + ${model.book.getId()} + '/rate'}" th:method="post"
                          onclick="submitRating()" style="cursor: pointer">
                        <input type="submit" name="book-rating" id="book-rating" class="rating"
                               value="0" onclick="submitRating()"/>
                    </form>
                </div>
                <div th:unless="${model.usersBooks} == null">
                    <p>
                        <small>Your rating</small>
                    </p>
                    <form id="rate-book" th:action="@{'/books/' + ${model.book.getId()} + '/rate'}" th:method="post"
                          onclick="submitRating()" style="cursor: pointer">
                        <input type="submit" name="book-rating" id="book-rating" class="rating"
                               th:value="${model.usersBooks.getBookRatingByUser()}" onclick="submitRating()"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 th:text="${model.book.getTitle()}" style="display: inline"></h2>
            <h4 style="display: inline">by </h4>
            <a th:href="@{'../authors/' + ${model.book.getBookAuthor().getId()}}">
                <h4 th:text="${model.book.getBookAuthor().getName()} + ' ' +
                    ${model.book.getBookAuthor().getLastName()}" style="display: inline"></h4>
            </a>
            <hr/>
            <p th:text="${model.book.getDescription()}"></p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<script>
    $("#book-rating").rating({animate: false});
</script>
</body>
</html>