<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head">
    <title>Catalog</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div th:if="${not #lists.isEmpty(model.booksList)}" class="row">
    <div th:each="book, iterStat : ${model.booksList}" th:class="${iterStat.index % 5 == 0} ? 'col-md-2 col-md-offset-1' : 'col-md-2'">
        <div class="thumbnail">
            <img src="https://images.gr-assets.com/books/1368340919l/4778183.jpg" alt="..." />
            <div class="caption">
                <h3 th:text="${book.title}">Title</h3>
                <p>Author's name here</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
    <!--<div class="col-md-2 col-md-offset-1">
        <div class="thumbnail">
            <img src="https://images.gr-assets.com/books/1368340919l/4778183.jpg" alt="..." />
            <div class="caption">
                <h3>Шатуны</h3>
                <p>Юрий Мамлеев</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="https://images.gr-assets.com/books/1320399438l/17690.jpg" alt="The Trial" />
            <div class="caption">
                <h3>The Trial</h3>
                <p>Franz Kafka</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="https://images.gr-assets.com/books/1480901846l/51893.jpg" alt="Thus Spoke Zarathustra" />
            <div class="caption">
                <h3>Thus Spoke Zarathustra</h3>
                <p>Friedrich Nietzsche</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="https://images.gr-assets.com/books/1348990566l/5470.jpg" alt="1984" />
            <div class="caption">
                <h3>1984</h3>
                <p>George Orwell</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="https://images.gr-assets.com/books/1359061917l/485894.jpg" alt="The Metamorphosis" />
            <div class="caption">
                <h3>The Metamorphosis</h3>
                <p>Franz Kafka</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>-->

</body>
</html>