<!doctype html>
<html lang="en">
<head>
    <title>MyBooks</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
<div class="container">
    <div class="info">
        <h1>Welcome to MyBooks. Please, sign up</h1>
    </div>

    <div class="thumbnail"><img src="https://image.ibb.co/ncfJCm/login_cat.png" alt="kitty" id="round"/></div>
</div>
<div class="form">
    <form method="post">
        <input type="text" name="name" placeholder="name"/>
        <input type="text" name="username" placeholder="username"/>
        <input type="text" name="email" placeholder="e-mail"/>
        <input type="text" name="phone" placeholder="phone"/>
        <input type="password" name="password" id="password" placeholder="password"/>
        <input type="password" name="password_confirm" placeholder="repeat password"/>
        <button type="submit">sign up</button>
        <p class="message">Already registered? <a href="/login">Sign in</a></p>
    </form>
</div>
</body>
</html>