<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: head"></div>
    <title>Search Results</title>

    <link rel="stylesheet" href="../css/thumbnails.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<!--
<ol>
    <li th:each="book : ${model.search}">
        <b><span th:text="${book.getTitle()}"></span></b>
    </li>
</ol>
-->

<div class="container">
    <div th:if="${not #lists.isEmpty(model.bookSearchResults)}">
        <h3>Books</h3>
        <hr/>
    </div>
    <div th:if="${not #lists.isEmpty(model.bookSearchResults)}" class="flex-row row">
        <div th:each="book : ${model.bookSearchResults}" class="col-xs-6 col-sm-4 col-lg-3">
            <div class="thumbnail">
                <a th:href="@{'/books/' + ${book.getId()}}"><img th:src="@{'/storage/' + ${book.getPhoto()}}"/></a>
                <div class="caption">
                    <a th:href="@{'/books/' + ${book.getId()}}"><h3 th:text="${book.getTitle()}">Title</h3></a>
                    <p th:text="${book.getDescription()}" class="flex-text text-muted" id="trunc">Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.
                        Consequatur optio ipsa fuga vel repudiandae impedit illum delectus nihil error animi nobis
                        quaerat quidem, amet, praesentium aspernatur inventore numquam! Totam, dolorem inventore
                        reprehenderit,
                        culpa obcaecati!</p>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(model.authorSearchResult)}">
        <h3>Authors</h3>
        <hr/>
    </div>
    <div th:if="${not #lists.isEmpty(model.authorSearchResult)}" class="flex-row row">
        <div th:each="author : ${model.authorSearchResult}" class="col-xs-6 col-sm-4 col-lg-3">
            <div class="thumbnail">
                <a th:href="@{'/authors/' + ${author.getId()}}"><img
                        th:src="@{'/storage/' + ${author.getPhoto()}}"/></a>
                <div class="caption">
                    <a th:href="@{'/authors/' + ${author.getId()}}"><h3
                            th:text="${author.getName()} + ' ' + ${author.getLastName()}">Author</h3></a>
                    <p th:text="${author.getAbout()}" class="flex-text text-muted" id="trunc">Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.
                        Consequatur optio ipsa fuga vel repudiandae impedit illum delectus nihil error animi nobis
                        quaerat quidem, amet, praesentium aspernatur inventore numquam! Totam, dolorem inventore
                        reprehenderit,
                        culpa obcaecati!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>